<?xml version="1.0" encoding="UTF-8"?>
<suite name="MAVENDEMO">
  <parameter name="dbconfig" value="db.properties" />
  <parameter name="poolsize" value="10" />
  <test name="Simple Test">
   <!--  <packages>
      <package name="com.qa.test.*"/>
    </packages> -->
    	
	<classes>
	  <class name="com.qa.test.TestParameterXML" />
	</classes>
  </test>
</suite>